<div class="search-list-root">
    <MudAutocomplete 
        T="string" 
        Label="Search"
        ResetValueOnEmptyText="true"
        @bind-Value="SelectedSymbol" 
        SearchFunc="@OnSymbolSelected" 
        AdornmentIcon="@Icons.Material.Filled.Search" 
        AdornmentColor="Color.Primary"
        CoerceText="@CoerceText" CoerceValue="@CoerceValue" />
        <div>
            @SelectedSymbol
        </div>
</div>